<a href="https://colab.research.google.com/github/Sachin-Kumar-P/Data-science-workshop/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s = [12,33,23,36,42]
for i in s:
  if i%3==0:
    print(i,"is divible by 3")

12 is divible by 3
33 is divible by 3
36 is divible by 3
42 is divible by 3